
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.container
{
 display: flex;
 justify-content: space-between;
}

h2{
  background-color: rgb(210, 4, 4);
  color:white;
  font-weight: bold;
  text-align: center;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}


#carouselExampleControls {
  width: 100vw;         /* largura da viewport */
  max-width: 100vw;     /* limita para não ultrapassar a viewport */
  margin: 0;            /* remove margens */
  padding: 0;           /* remove paddings */
}

#carouselExampleControls .carousel-inner {
  width: 100%;
}

.cards-wrapper {
  justify-content: center; /* mantém os cards centralizados */
}

.card {
  min-width: 250px;   /* largura mínima para o card */
  max-width: 300px;   /* largura máxima para limitar */
  width: 100%;        /* para ficar responsivo */
  flex: 0 0 auto;     /* evita que o card encolha */
}
.img-produto{
  height: 200px;
  align-self: center;
  justify-self: center;
  
}


h3 {
   background-color: rgb(18, 2, 241);
  color:white;
  font-weight: bold;
  text-align: center;
}

em {
  color: red;
}

  .carousel-control-prev{
    background-color: #ff0000;
  }
  .carousel-control-next{
    background-color: #ff0000;
  }
h1{
  text-align: center;
}
